<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 overflow-hidden min-h-[200px]">

    @if (loading) {
    @for (i of [1,2,3,4,5,6,7,8]; track $index) {
    <app-product-card-skeleton></app-product-card-skeleton>
    }
    } @else {
    @for (product of productsList; track product.documentId) {
    <app-product-card [product]="product"></app-product-card>
    }
    @empty {
    <p class="col-span-full text-center text-gray-500 text-lg font-medium">No products available</p>
    }
    }

</div>