<dialog id="my_modal_3" class="">

    <div class="fixed inset-0 bg-black/75 bg-opacity-50 flex justify-center items-center z-50">
        <div class="relative">
            <img class="max-w-full max-h-[90vh] object-cover rounded-lg cursor-zoom-in" [src]="image()"  alt="Large Image">
            <form method="dialog">
                <button
                    class="btn btn-sm btn-circle btn-soft border-transparent outline-0 hover: absolute right-6 top-2">
                    <mat-icon>close</mat-icon>
                </button>
            </form>
        </div>
        <div class="absolute  left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
            <button class="btn btn-circle" (click)="sendImageIndex(selectedImageIndex()-1)"
                [disabled]="selectedImageIndex()===0">
                <mat-icon>chevron_left</mat-icon>
            </button>
            <button class="btn btn-circle" (click)="sendImageIndex(selectedImageIndex()+1)"
                [disabled]="selectedImageIndex()===imagesAmount()-1">
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div>
    </div>
</dialog>