<div class="grid gap-4">
    <div class="relative group cursor-zoom-in" tabindex="0" role="button" onclick="my_modal_3.showModal()">

        <img class="h-100 w-full object-cover rounded-lg" [src]="imageLinks[selectedImageIndex]" alt="Selected image">
        <div
            class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between opacity-0 group-hover:opacity-100 transition-opacity duration-300">
            <button class="btn btn-circle" [disabled]="selectedImageIndex===0"
                (click)="selectImage($event, selectedImageIndex - 1)">
                <mat-icon>chevron_left</mat-icon>
            </button>
            <button class="btn btn-circle" (click)="selectImage($event, selectedImageIndex + 1)"
                [disabled]="selectedImageIndex===imageLinks.length-1">
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div>
    </div>
    <div class="carousel  rounded-box w-full gap-4">
        @for (image of imageLinks; track $index) {

        <button class="carousel-item border-4 relative overflow-hidden rounded-lg cursor-pointer"
            (mouseenter)="selectImage($event, $index)"
            [ngClass]="selectedImageIndex == $index ? 'border-blue-300' : 'border-transparent'">

            <img class="w-30 h-full " [src]="image" alt="">
        </button>

        }

    </div>
</div>

<app-image-modal [image]="imageLinks[selectedImageIndex]" [selectedImageIndex]="selectedImageIndex" [imagesAmount]="imageLinks.length"
    (selectedImageIndexOutput)="updateSelectedImageIndex($event)"></app-image-modal>