<form [formGroup]="formGroup" (ngSubmit)="OnSubmit()"
    class="fieldset w-xs bg-base-200 border border-base-300 p-4 rounded-box">
    <legend class="fieldset-legend">{{title}}</legend>


    <div *ngFor="let field of inputFields">
        <div class="">

            <label class="fieldset-label">{{field.label}}</label>

            <input [formControlName]="field.name" [type]="field.type" [placeholder]="field.placeholder"
                [ngClass]="{'input-secondary' :formGroup.controls[field.name].invalid && formGroup.controls[field.name].touched}"
                class="input" />
        </div>
        <small class="text-secondary" style="font-size: 14px;">
            {{ getErrorMessage(field) }}
        </small>
    </div>

    <button class="btn btn-neutral mt-4" type="submit" [disabled]="formGroup.invalid">
        {{btnSubmitLabel}}
    </button>
</form>